body {
}

.ry-text-primary {
    font-family: 'VerminVibes1989';
    color: #d4d2d2;
}

.ry-text-secondary {
    font-family: 'PerfectDOSVGA437';
    color: #000000;
}

.ry-nav-bg {
    background-color: #3b0065
}
