@page
@model RyDawgE.Pages.AboutModel
@{
    ViewData["Title"] = "RyDawgE - AboutMe";

}
<head>
    <link rel="stylesheet" href="~/css/ry-index.css" asp-append-version="true" />
</head>

<main>
    <div style="display:flex; padding-top:35px;" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="flex-grow:1;">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Personal News</h6>

            <div style="padding:10px">
                <div style="padding:inherit">
                    <h2 style="color:#FFFFFF">This Website??? That's new!!!</h2>
                    <p style="color:#FFFFFF">
                        Something borrowed, something new.
                    </p>
                    <p style="color:#FFFFFF">
                        Been cooking up some fire stuff in terms of new websites. PyDawgEngine documentation is on the way. That'll be fun!
                        This website is made entirely in HTML/CSS/JS, no more google sites!
                    </p>
                </div>
                <div style="padding:inherit">
                    <h2 style="color:#FFFFFF">The Old Chateau: First-Person Pokemon Horror Game - Out Now!</h2>
                    <p style="color:#FFFFFF">
                        Made in 3 weeks with <a href="https://twitter.com/GoodguyGastly">GoodGuyGastly</a>
                        and <a href="https://twitter.com/Millennium_oops">Millennium</a>.

                        Download the game <a href="https://drive.google.com/file/d/195FN7a10m1Z9Kv9sgv2mmih9u-b9785i/view">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>