@page
@model IndexModel
@{
    ViewData["Title"] = "RyDawgE.com";
}
<head>
    <link rel="stylesheet" href="~/css/ry-index.css" asp-append-version="true" />
</head>

<main>

    <div class="text-center">
        <h1 class="display-4 ry-text-primary" style="color:#000000">Ryan "RyDawgE" Ebert</h1>  
        <p class="display-4 ry-text-secondary" style="color:#000000; font-size:30px">Programmer, Game Developer, Software Engineer</p>
        <div style="display:flex;justify-content:space-evenly;flex-grow:1;flex-direction:row;" class="text-center ry-text-secondary">
            <div style="color:#000000; font-size:30px">
                <a style="color:#000000;" href="https://github.com/RyDawgE">Personal Github</a>.
            </div>
            <div style="color:#000000; font-size:30px">
                <a style="color:#000000;" href="https://github.com/RyDawg-Studios">Gamedev Github</a>.
            </div>
            <div style="color:#000000; font-size:30px">
                <a style="color:#000000;" href="https://m.youtube.com/c/RyDawgE">YouTube</a>.
            </div>
            <div style="color:#000000; font-size:30px">
                <a style="color:#000000;" href="https://twitter.com/RyDawgE_">Twitter</a>.
            </div>
        </div>
    </div>

    <div style="display:flex;justify-content:space-evenly; padding-bottom:60px;" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Languages</h6>
            <div style="color:#a103fc">Python</div>
            <div style="color:#a103fc">.NET Core C#</div>
            <div style="color:#fca503">Unreal Engine C++</div>
            <div style="color:#fca503">Unreal Engine Blueprints</div>
            <div style="color:#fca503">Java</div>
            <div style="color:#d4d2d2">HTML/JS/CSS</div>
        </div>

        <div class="rde-info-ctnr">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Experience</h6>
            <div style="color:#a103fc">See Portfolio</div>
            <div style="color:#a103fc">Tooling / Research on Team Luminescent</div>
            <div style="color:#a103fc">Programming Captain - FIRST Robotics Team 514</div>
            <div style="color:#fca503">Teacher's Assistant - Scientific Computing (Python)</div>
            <div style="color:#fca503">This Website!</div>
            <div style="color:#d4d2d2">4+ Years of Unreal Engine Development</div>
            <div style="color:#d4d2d2">7+ Years of Hobbyist Programming</div>
        </div>

        <div class="rde-info-ctnr">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Skills</h6>
            <div style="color:#a103fc">Backend System Development</div>
            <div style="color:#a103fc">Game Engine Development</div>
            <div style="color:#fca503">Game Development</div>
            <div style="color:#fca503">Networking</div>
            <div style="color:#d4d2d2">Web-dev</div>
        </div>
    </div>

    <div class="text-center">
        <h1 class="display-4 ry-text-primary" style="color:#000000">Portfolio</h1>
    </div>
    <div style="display:flex;justify-content:space-evenly;padding:40px;flex-grow:1;width:100%;" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;width:100%;">
                <h2 class="display-4 ry-text-primary" style="color:#a103fc; font-size:40px">Pokemon Champions: VR</h2>
                <h4 style="color:#FFFFFF">UE4/C++/BP/TS/JS</h4>
                <p style="color:#FFFFFF;">
                    Pokemon Champions VR is a robust Battle Simulation created for PCVR.
                    It features fully realized 3D environments re-imagined from your favorite classic Pokemon Games.
                    Utilizing Speech Recognition technology, Pokemon Champions aims to bring an immersive and fresh experience to hard-core, returning, and brand-new fans of the Pokemon franchise.
                    Featuring characters from all corners of the franchise, which battles you take part in is up to you, as you challenge these Pokemon Champions!
                </p>
                <p style="color:#FFFFFF;">
                    The game will feature both single player-challenge battles, and a multiplayer mode based on Pokemon Showdown's open source Battle Simulator. The game has been in active
                    development for 4 years. Featuring stunning 3D environment art from <a class="rde-link" href="https://twitter.com/Millennium_oops">Millennium_Oops</a>, Pokemon Champions VR aims to be the most immersive Pokemon experience to date.
                </p>
                <p style="color:#FFFFFF;">
                    The game has been in delopment for 4 years, and is aiming for a mid 2024 release window. It is currently my most active project.
                </p>
                <p style="color:#FFFFFF;">
                    To follow the game's progress, join the <a class="rde-link" href="https://discord.gg/U3w7VthFmc">Discord Server</a> and follow the <a class="rde-link" href="https://twitter.com/pokemonchampsvr">Twitter Account</a>.
                </p>
            </div>
        </div>
    </div>

    <div style="display:flex;justify-content:space-evenly;padding-top:50px;" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">The Old Chateau</h2>
                <h4 style="color:#FFFFFF">Unreal Engine 5</h4>
                <p style="color:#FFFFFF;">
                    Created by 3D Artist Millennium, The Old Chateau is a first person horror game set in the
                    world of Pokemon. The player has wandered into a haunted mansion and is now trapped inside. The goal of the game is
                    to find 3 keys and escape.
                </p>
                <p style="color:#FFFFFF;">
                    The game saw widespread success on YouTube, being played by multiple popular creators. Overall, the game has seen well over
                    10,000 views accross multiple YouTube videos, as well as over 30,000 views on Twitter.
                </p>
                <p style="color:#FFFFFF;">
                    I worked on the following systems: Item Inspection, Dynamic Doors,
                    Item Randomization System, Haunted Event System, and other gameplay touchups.
                </p>
                <p style="color:#FFFFFF;">A link to the game's trailer and download can be found <a class="rde-link" href="https://twitter.com/Millennium_oops/status/1719393187641311566">here</a>.</p>
            </div>
        </div>
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">PyDawgEngine</h2>
                <h4 style="color:#FFFFFF">Python</h4>
                <p style="color:#FFFFFF;">
                    PyDawgEngine is a 2D game development framework wrapped around the Pygame game engine. PyDawgEngine has been in active development for
                    over 3 years now, constantly recieving new updates to allow developers to make the 2D game of their dreams.
                </p>
                <p style="color:#FFFFFF;">
                    PyDawgEngine gives developers a custom Object/Component hierarchy to replicate the development style of Unreal Engine. PyDawgEngine attempts to
                    ease the burden of the developer, and handles plenty of boiler-plate game development features such as collision, physics, user interface, debugging, events, and even multiplayer networking.
                </p>
                <p style="color:#FFFFFF;">
                    A link to the repository to download the engine along with a custom example game can be found <a class="rde-link" href="https://github.com/RyDawg-Studios/PyDawgEngine/releases">here</a>.
                </p>
                <p style="color:#FFFFFF;">
                    A tutorial for creating a simple project can be found <a class="rde-link" href="https://youtu.be/sMBrlj6TnP0?si=QOKv5x-F9wYVGNTb">here</a>.
                </p>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:space-evenly;padding:40px" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">Arelle</h2>
                <h4 style="color:#FFFFFF">Unreal Engine 5 - C++/BP</h4>
                <p style="color:#FFFFFF;">
                    Heavily inspired by popular Minecraft mod RLCraft, Arelle is an open world, procedurally generated, 3D survival RPG. Not much has been revealed about Arelle, but I have been developing it solo
                    for the better part of a year. More information will be available as things are ready to be shown. The Systems in this game are complex, and I'm taking my time to
                    ensure the game is not only technically impressive, but also entertaining.
                </p>
                <p style="color:#FFFFFF;">
                    Stage of development: Prototyping.
                </p>
            </div>
        </div>
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">Chipset</h2>
                <h4 style="color:#FFFFFF">PyDawgEngine</h4>
                <p style="color:#FFFFFF;">
                    Chipset is a 2D co-op/multiplayer rogue-like shooter created in my own custom engine, PyDawgEngine. The game boasts a suite of customizable weapons, allowing the player to
                    clear room after room of enemies in their own unique way.
                </p>
                <p style="color:#FFFFFF;">
                    The game has been in development for over 2 years now. I am developing this along side PyDawgEngine, so I can ensure PyDawgEngine has all of the features to make
                    a complete game.
                </p>
                <p style="color:#FFFFFF;">
                    A link to the gameplay teaser can be found <a class="rde-link" href="https://youtu.be/XJIlK98lodI?si=Lb5QmNVLqXlwhHSr">here</a>.
                </p>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:space-evenly;padding:40px" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">Lumi-Bnk</h2>
                <h4 style="color:#FFFFFF">C# - Winforms</h4>
                <p style="color:#FFFFFF;">
                    Lumi-Bnk is an editor for WWise Sound Bank Objects created for Team Luminescent's Pokemon Luminescent.
                </p>
                <p style="color:#FFFFFF;">
                    A link to the project's repository can be found <a class="rde-link" href="https://github.com/RyDawgE/lumi-bnk">here</a>.
                </p>
            </div>
        </div>
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">First: Robotics</h2>
                <h4 style="color:#FFFFFF">Java</h4>
                <p style="color:#FFFFFF;">
                    I am programming captain of my schools FIRST: Robotics team. I was voted into this position by my teammates. For the last 3 years,
                    I have been both designing the code structure and tackling technical puzzles to push our team to do as best as we can during the competition.
                </p>
                <p style="color:#FFFFFF;">
                    This year, I have been helping teach new team members the Java programming language, as well as general programming concepts, along with our mentors.
                </p>
                <p style="color:#FFFFFF;">
                    The team's website can be found <a class="rde-link" href="https://team514.com">here</a>.
                </p>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:space-evenly;padding:40px" class="text-center ry-text-secondary">
        <div class="rde-info-ctnr" style="width:500px">
            <div style="display:flex;justify-content:space-evenly;flex-direction:column;">
                <h2 class="display-4 ry-text-primary" style="color:#fca503; font-size:40px">RyDawgE.com</h2>
                <h4 style="color:#FFFFFF">HTML/JS/CSS - C# ASP.NET</h4>
                <p style="color:#FFFFFF;">
                    This website was created from scratch using Razor Pages, with an Ubuntu server running Caddy.
                </p>
                <p style="color:#FFFFFF;">
                    The website can be found... wait... you're already there!
                </p>
            </div>
        </div>
    </div>
</main>