@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/ry-index.css" asp-append-version="true" />
</head>

<main>

    <div class="text-center">
        <h1 class="display-4 ry-text-primary" style="color:#000000">Ryan "RyDawgE" Ebert</h1>  
        <p class="display-4 ry-text-secondary" style="color:#000000; font-size:30px">Programmer, Game Developer, Software Engineer</p>
    </div>

    <div style="display:flex;justify-content:space-evenly" class="text-center ry-text-secondary">
        <div style="background-color:#000000;padding:30px">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Languages</h6>
            <div style="color:#a103fc">Python</div>
            <div style="color:#a103fc">C#</div>
            <div style="color:#fca503">C++</div>
            <div style="color:#fca503">Java</div>
            <div style="color:#d4d2d2">HTML/JS/CSS</div>
        </div>

        <div style="background-color:#000000;padding:30px">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Experience</h6>
            <div style="color:#a103fc">See Portfolio</div>
            <div style="color:#a103fc">Programming Captain - FIRST Robotics Team 514</div>
            <div style="color:#fca503">Teacher's Assistant - Scientific Computing (Python)</div>
            <div style="color:#fca503">This Website!</div>
            <div style="color:#d4d2d2">7+ Years of Hobbyist Programming</div>
        </div>

        <div style="background-color:#000000;padding:30px">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Skills</h6>
            <div style="color:#a103fc">Backend System Development</div>
            <div style="color:#a103fc">Game Engine Development</div>
            <div style="color:#fca503">Game Development</div>
            <div style="color:#fca503">Networking</div>
            <div style="color:#d4d2d2">Web-dev</div>
        </div>
    </div>

    <div style="display:flex; padding-top:35px;" class="text-center ry-text-secondary">
        <div style="background-color:#000000;padding:30px;flex-grow:1;">
            <h6 class="display-4 ry-text-primary" style="color:#FFFFFF; font-size:40px">Personal News</h6>

            <div style="padding:10px">
                <div style="padding:inherit">
                    <h2 style="color:#FFFFFF">This Website??? That's new!!!</h2>
                    <p style="color:#FFFFFF">
                        Something borrowed, something new.
                    </p>
                    <p style="color:#FFFFFF">
                        Been cooking up some fire stuff in terms of new websites. PyDawgEngine documentation is on the way. That'll be fun!
                        This website is made entirely in HTML/CSS/JS, no more google sites!
                    </p>
                </div>
                <div style="padding:inherit">
                    <h2 style="color:#FFFFFF">The Old Chateau: First-Person Pokemon Horror Game - Out Now!</h2>
                    <p style="color:#FFFFFF">Made in 3 weeks with <a href="https://twitter.com/GoodguyGastly">GoodGuyGastly</a> 
                        and <a href="https://twitter.com/Millennium_oops">Millennium</a>.

                        Download the game <a href="https://drive.google.com/file/d/195FN7a10m1Z9Kv9sgv2mmih9u-b9785i/view">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>