@page
@model RyDawgE.Pages.PortfolioModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/ry-index.css" asp-append-version="true" />
</head>

<main>
    <div class="text-center">
        <h1 class="display-4 ry-text-primary" style="color:#000000">Portfolio</h1>
        <p class="display-4 ry-text-secondary" style="color:#000000; font-size:30px">Projects I've worked on</p>
    </div>
</main>