@page
@model RyDawgE.Pages.PortfolioModel
@{
    ViewData["Title"] = "RyDawgE - Portfolio";

}
<head>
    <link rel="stylesheet" href="~/css/ry-index.css" asp-append-version="true" />
</head>

<main>
    <div style="color:#000000; font-size:30px; justify-content:center" class="ry-text-secondary">
        This page has moved! My portfolio is now on the Home Page.
    </div>
</main>